<!DOCTYPE html>

<html>

<head>

  <title>PocketSquare!</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

  <% if current_user %>
    <p>Welcome back, <%= current_user.user_name %>!</p>
    <!-- (<%= current_user.id %>) -->
  <% else %>
  <% end %>

  <h1>PocketSquare</h1>
  <h3>Find your next favorite spot</h3>

  <%= link_to "New Search", "/venues" %> | <%= link_to "PocketFavorites", "/favorites" %> | <%= link_to "SpyMode", "/spy" %>

  <div id="user_nav">
    <% if current_user %>

      <p>Now logged in as <%= current_user.user_email %> | <%= link_to "Log out", log_out_path %></p>
      <p><%= link_to "Begin your search", "/venues" %></p>

    <% else %>

      <%= link_to "Sign up", sign_up_path %> or
      <%= link_to "Log in", log_in_path %>

    <% end %>

  </div>




<%= yield %>

</body>

</html>
