<h3>Sign up for an account</h3>

<!-- form errors and validation -->
<%= form_for @user do |f| %>

  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form error!</h2>
      <ul>
      <% for message in @user.errors.full_messages %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :Name %><br />
    <%= f.text_field :user_name %>
  </p>
  <p>
    <%= f.label :Email %><br />
    <%= f.text_field :user_email %>
  </p>
  <p>
    <%= f.label :Password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :Password_Confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </p>

<!-- submit button for db access -->
  <p class="button"><%= f.submit %></p>
<% end %>

